<phpunit colors="true" bootstrap="UnitTestBootstrap.php">
    <testsuites>
      <testsuite name="XMLPS">
        <directory>module/Admin/test</directory>
        <directory>module/Application/test</directory>
        <directory>module/Manager/test</directory>
        <directory>module/User/test</directory>
        <directory>module/DocxConversion/test</directory>
        <directory>module/NlmxmlConversion/test</directory>
        <directory>module/ReferencesConversion/test</directory>
        <directory>module/BibtexConversion/test</directory>
        <directory>module/ZipConversion/test</directory>
      </testsuite>
    </testsuites>
</phpunit>
