// Color schema
// http://colorschemedesigner.com/#3.61X--ILw0w0
$primaryColor1: #0068CC;
$primaryColor2: #266199;
$primaryColor3: #004385;
$primaryColor4: #3991E6;
$primaryColor5: #67A7E6;

$secondaryColor11: #1A00D3;
$secondaryColor12: #36279E;
$secondaryColor13: #110089;
$secondaryColor14: #503AE9;
$secondaryColor15: #7869E9;

$secondaryColor21: #00D273;
$secondaryColor22: #279E68;
$secondaryColor23: #00894A;
$secondaryColor24: #3AE999;
$secondaryColor25: #69E9AE;

$complementaryColor1: #FF9700;
$complementaryColor2: #BF8530;
$complementaryColor3: #A66200;
$complementaryColor4: #FFB140;
$complementaryColor5: #FFC673;

// Page
$backgroundColorLight: #FFF;
$backgroundColorDark: #EEE;

// Notifications
$successColor: $secondaryColor21;
$infoColor: $primaryColor5;
$errorColor: $complementaryColor1;

// Disabled
$disabledColor: #777;

// Nav
$navColor: #000;

// Text
$textColorLight: #FFF;
$textColorDark: #000;

// Box
$boxBackgroundColor: $primaryColor5;

// Form
$buttonColor: $primaryColor2;
$buttonBorderColor: change-color($secondaryColor24, $lightness: 70%);
