// Color schema
// http://colorschemedesigner.com/#3.31T--ILw0w0
$primaryColor1: #0068CC;
$primaryColor2: #266199;
$primaryColor3: #004385;
$primaryColor4: #3991E6;
$primaryColor5: #67A7E6;

$secondaryColor11: #FFC300;
$secondaryColor12: #BF9E30;
$secondaryColor13: #A67F00;
$secondaryColor14: #FFD240;
$secondaryColor15: #FFDE73;

$secondaryColor21: #FF5300;
$secondaryColor22: #BF5E30;
$secondaryColor23: #A63600;
$secondaryColor24: #FF7E40;
$secondaryColor25: #FFA073;

// Page
$backgroundColorLight: change-color($primaryColor5, $lightness: 95%);
$backgroundColorDark: $primaryColor1;

// Notifications
$successColor: $primaryColor5;
$infoColor: $secondaryColor15;
$errorColor: $secondaryColor25;

// Text
$textColorLight: #FFF;
$textColorDark: #000;

// Box
$boxBorderColor: #000;
$boxBackgroundColor: #FFF;

// Form
$buttonColor: $secondaryColor24;
$buttonBorderColor: change-color($secondaryColor24, $lightness: 70%);
