@font-face {
  font-family: 'Inika';
  src: url('/fonts/inika-bold-webfont.eot');
  src: url('/fonts/inika-bold-webfont.eot?#iefix') format('embedded-opentype'),
    url('/fonts/inika-bold-webfont.woff') format('woff'),
    url('/fonts/inika-bold-webfont.ttf') format('truetype'),
    url('/fonts/inika-bold-webfont.svg#inikabold') format('svg');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Inika';
  src: url('/fonts/inika-regular-webfont.eot');
  src: url('/fonts/inika-regular-webfont.eot?#iefix') format('embedded-opentype'),
     url('/fonts/inika-regular-webfont.woff') format('woff'),
     url('/fonts/inika-regular-webfont.ttf') format('truetype'),
     url('/fonts/inika-regular-webfont.svg#inikaregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Oswald';
  src: url('/fonts/oswald-bold-webfont.eot');
  src: url('/fonts/oswald-bold-webfont.eot?#iefix') format('embedded-opentype'),
     url('/fonts/oswald-bold-webfont.woff') format('woff'),
     url('/fonts/oswald-bold-webfont.ttf') format('truetype'),
     url('/fonts/oswald-bold-webfont.svg#oswaldbold') format('svg');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Oswald Light';
  src: url('/fonts/oswald-light-webfont.eot');
  src: url('/fonts/oswald-light-webfont.eot?#iefix') format('embedded-opentype'),
     url('/fonts/oswald-light-webfont.woff') format('woff'),
     url('/fonts/oswald-light-webfont.ttf') format('truetype'),
     url('/fonts/oswald-light-webfont.svg#oswaldlight') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Oswald';
  src: url('/fonts/oswald-regular-webfont.eot');
  src: url('/fonts/oswald-regular-webfont.eot?#iefix') format('embedded-opentype'),
     url('/fonts/oswald-regular-webfont.woff') format('woff'),
     url('/fonts/oswald-regular-webfont.ttf') format('truetype'),
     url('/fonts/oswald-regular-webfont.svg#oswaldregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
