.footable {
  width: 100%;
}

span.footable-sort-indicator,
span.footable-toggle {
  @include icon('before', true);
  display: block;
}
span.footable-toggle:before {
  color: $backgroundColorLight;
}

.footable.breakpoint > tbody > tr.footable-detail-show > td {
  border-bottom: none;
}
.footable.breakpoint > tbody > tr.footable-detail-show > td > span.footable-toggle {
  @include icon('before', false, 'arrow-up-2');
}
.footable.breakpoint > tbody > tr:hover:not(.footable-row-detail) {
  cursor: pointer;
}
.footable.breakpoint > tbody > tr > td.footable-cell-detail {
  background: #eee;
  border-top: none;
}
.footable.breakpoint > tbody > tr > td > span.footable-toggle {
  padding-right: 5px;
}
.footable.breakpoint > tbody > tr > td > span.footable-toggle {
  @include icon('before', false, 'arrow-down-2');
}
.footable > thead > tr > th {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  user-select: none;
}
.footable > thead > tr > th.footable-sortable:hover {
  cursor: pointer;
}
.footable > thead > tr > th.footable-sorted > span.footable-sort-indicator {
  @include icon('before', false, 'arrow-up-2');
}
.footable > thead > tr > th.footable-sorted-desc > span.footable-sort-indicator {
  @include icon('before', false, 'arrow-down-2');
}
.footable > thead > tr > th > span.footable-sort-indicator {
  padding-left: 5px;
}
.footable > thead > tr > th > span.footable-sort-indicator {
  @include icon('before', false, 'menu');
}
.footable > tfoot .pagination {
  margin: 0;
}
.footable.no-paging .hide-if-no-paging {
  display: none;
}
.footable-row-detail-inner {
  display: table;
}
.footable-row-detail-row {
  display: table-row;
  line-height: 1.5em;
}
.footable-row-detail-group {
  display: block;
  line-height: 2em;
  font-size: 1.2em;
  font-weight: bold;
}
.footable-row-detail-name {
  display: table-cell;
  font-weight: bold;
  padding-right: 0.5em;
}
.footable-row-detail-value {
  display: table-cell;
}
.footable-odd {
  background-color: #f7f7f7;
}
