input[type="submit"] {
  @include button;
  margin-top: $gutter;
}

input, select {
  padding: 0.8 * $gutter $gutter;
  display: block;
  margin-bottom: $gutter;
  border: none;
  font-family: $pageFont;
}

.input-error {
  border: 1px solid $errorColor;
}

// Form input error messages
.input-error + ul {
  list-style: none;
  padding-left: 3px;
  margin: $gutter / 2 0 $gutter * 2 0;

  li {
    @include icon('before', true, 'notification');
    font-family: $highlightFont;
  }
  li:before {
    margin-right: 0.5em;
  }
}

// Form labels
form label {
  font-family: $highlightFont;
}
