@import "neat/neat-helpers";

// Grid settup
$column: 70px;
$gutter: 10px;
$grid-columns: 12;
$max-width: 960px;
//$visual-grid: true;
//$visual-grid-index: 100;

// Define breakpoints
$mobile: new-breakpoint(max-width 480px 6);
$tablet: new-breakpoint(max-width 960px 12);
$desktop: new-breakpoint(min-width 960px 12);
