@import "neat/neat-helpers";

// Change the grid settings
$column: 90px;
$gutter: 30px;
$grid-columns: 12;
$max-width: em(960);
//$visual-grid: true;

// Define your breakpoints
$mobile: new-breakpoint(max-width 480px 6);
$tablet: new-breakpoint(max-width 960px 12);
