@import "neat/neat-helpers";

// Grid settup
$column: 70px;
$gutter: 10px;
$grid-columns: 12;
$max-width: 960px;
//$visual-grid: true;
//$visual-grid-index: 100;

// Define breakpoints
$boundaryMobile: 480px;
$boundaryTablet: 960px;
$mobile: new-breakpoint(max-width $boundaryMobile, 6);
$notMobile: new-breakpoint(min-width $boundaryMobile + 1, 6);
$tablet: new-breakpoint(min-width $boundaryMobile + 1 max-width $boundaryTablet, 12);
$desktop: new-breakpoint(min-width $boundaryTablet + 1, 12);
$notDesktop: new-breakpoint(max-width $boundaryTablet, 12);
