/*
* This is a SASS version of the icomon icon font stylesheet icluded in the
* docs/icomoon folder
*
* usage: @include icon('location', bool include style, 'iconname');
*/
@font-face {
  font-family: 'Icons';
  src:url('/fonts/icons/icomoon.eot');
  src:url('/fonts/icons/icomoon.eot?#iefix') format('embedded-opentype'),
    url('/fonts/icons/icomoon.woff') format('woff'),
    url('/fonts/icons/icomoon.ttf') format('truetype'),
    url('/fonts/icons/icomoon.svg#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

// To simulate associative arrays
// Source: http://hugogiraudel.com/2013/08/12/sass-functions/#mapping
@function match($haystack, $needle) {
  @each $item in $haystack {
      $index: index($item, $needle);
      @if $index {
          $return: if($index == 1, 2, $index);
          @return nth($item, $return);
      }
  }
  @return false;
}

$icons: (
  'home' '\e000',
  'home-2' '\e001',
  'home-3' '\e002',
  'office' '\e003',
  'newspaper' '\e004',
  'pencil' '\e005',
  'pencil-2' '\e006',
  'quill' '\e007',
  'pen' '\e008',
  'blog' '\e009',
  'droplet' '\e00a',
  'paint-format' '\e00b',
  'image' '\e00c',
  'image-2' '\e00d',
  'images' '\e00e',
  'camera' '\e00f',
  'music' '\e010',
  'headphones' '\e011',
  'play' '\e012',
  'film' '\e013',
  'camera-2' '\e014',
  'dice' '\e015',
  'pacman' '\e016',
  'spades' '\e017',
  'clubs' '\e018',
  'diamonds' '\e019',
  'pawn' '\e01a',
  'bullhorn' '\e01b',
  'connection' '\e01c',
  'podcast' '\e01d',
  'feed' '\e01e',
  'book' '\e01f',
  'books' '\e020',
  'library' '\e021',
  'file' '\e022',
  'profile' '\e023',
  'file-2' '\e024',
  'file-3' '\e025',
  'file-4' '\e026',
  'copy' '\e027',
  'copy-2' '\e028',
  'copy-3' '\e029',
  'paste' '\e02a',
  'paste-2' '\e02b',
  'paste-3' '\e02c',
  'stack' '\e02d',
  'folder' '\e02e',
  'folder-open' '\e02f',
  'tag' '\e030',
  'tags' '\e031',
  'barcode' '\e032',
  'qrcode' '\e033',
  'ticket' '\e034',
  'cart' '\e035',
  'cart-2' '\e036',
  'cart-3' '\e037',
  'coin' '\e038',
  'credit' '\e039',
  'calculate' '\e03a',
  'support' '\e03b',
  'phone' '\e03c',
  'phone-hang-up' '\e03d',
  'address-book' '\e03e',
  'notebook' '\e03f',
  'envelop' '\e040',
  'pushpin' '\e041',
  'location' '\e042',
  'location-2' '\e043',
  'compass' '\e044',
  'map' '\e045',
  'map-2' '\e046',
  'history' '\e047',
  'clock' '\e048',
  'clock-2' '\e049',
  'alarm' '\e04a',
  'alarm-2' '\e04b',
  'bell' '\e04c',
  'stopwatch' '\e04d',
  'calendar' '\e04e',
  'calendar-2' '\e04f',
  'print' '\e050',
  'keyboard' '\e051',
  'screen' '\e052',
  'laptop' '\e053',
  'mobile' '\e054',
  'mobile-2' '\e055',
  'tablet' '\e056',
  'tv' '\e057',
  'cabinet' '\e058',
  'drawer' '\e059',
  'drawer-2' '\e05a',
  'drawer-3' '\e05b',
  'box-add' '\e05c',
  'box-remove' '\e05d',
  'download' '\e05e',
  'upload' '\e05f',
  'disk' '\e060',
  'storage' '\e061',
  'undo' '\e062',
  'redo' '\e063',
  'flip' '\e064',
  'flip-2' '\e065',
  'undo-2' '\e066',
  'redo-2' '\e067',
  'forward' '\e068',
  'reply' '\e069',
  'bubble' '\e06a',
  'bubbles' '\e06b',
  'bubbles-2' '\e06c',
  'bubble-2' '\e06d',
  'bubbles-3' '\e06e',
  'bubbles-4' '\e06f',
  'user' '\e070',
  'users' '\e071',
  'user-2' '\e072',
  'users-2' '\e073',
  'user-3' '\e074',
  'user-4' '\e075',
  'quotes-left' '\e076',
  'busy' '\e077',
  'spinner' '\e078',
  'spinner-2' '\e079',
  'spinner-3' '\e07a',
  'spinner-4' '\e07b',
  'spinner-5' '\e07c',
  'spinner-6' '\e07d',
  'binoculars' '\e07e',
  'search' '\e07f',
  'zoom-in' '\e080',
  'zoom-out' '\e081',
  'expand' '\e082',
  'contract' '\e083',
  'expand-2' '\e084',
  'contract-2' '\e085',
  'key' '\e086',
  'key-2' '\e087',
  'lock' '\e088',
  'lock-2' '\e089',
  'unlocked' '\e08a',
  'wrench' '\e08b',
  'settings' '\e08c',
  'equalizer' '\e08d',
  'cog' '\e08e',
  'cogs' '\e08f',
  'cog-2' '\e090',
  'hammer' '\e091',
  'wand' '\e092',
  'aid' '\e093',
  'bug' '\e094',
  'pie' '\e095',
  'stats' '\e096',
  'bars' '\e097',
  'bars-2' '\e098',
  'gift' '\e099',
  'trophy' '\e09a',
  'glass' '\e09b',
  'mug' '\e09c',
  'food' '\e09d',
  'leaf' '\e09e',
  'rocket' '\e09f',
  'meter' '\e0a0',
  'meter2' '\e0a1',
  'dashboard' '\e0a2',
  'hammer-2' '\e0a3',
  'fire' '\e0a4',
  'lab' '\e0a5',
  'magnet' '\e0a6',
  'remove' '\e0a7',
  'remove-2' '\e0a8',
  'briefcase' '\e0a9',
  'airplane' '\e0aa',
  'truck' '\e0ab',
  'road' '\e0ac',
  'accessibility' '\e0ad',
  'target' '\e0ae',
  'shield' '\e0af',
  'lightning' '\e0b0',
  'switch' '\e0b1',
  'power-cord' '\e0b2',
  'signup' '\e0b3',
  'list' '\e0b4',
  'list-2' '\e0b5',
  'numbered-list' '\e0b6',
  'menu' '\e0b7',
  'menu-2' '\e0b8',
  'tree' '\e0b9',
  'cloud' '\e0ba',
  'cloud-download' '\e0bb',
  'cloud-upload' '\e0bc',
  'download-2' '\e0bd',
  'upload-2' '\e0be',
  'download-3' '\e0bf',
  'upload-3' '\e0c0',
  'globe' '\e0c1',
  'earth' '\e0c2',
  'link' '\e0c3',
  'flag' '\e0c4',
  'attachment' '\e0c5',
  'eye' '\e0c6',
  'eye-blocked' '\e0c7',
  'eye-2' '\e0c8',
  'bookmark' '\e0c9',
  'bookmarks' '\e0ca',
  'brightness-medium' '\e0cb',
  'brightness-contrast' '\e0cc',
  'contrast' '\e0cd',
  'star' '\e0ce',
  'star-2' '\e0cf',
  'star-3' '\e0d0',
  'heart' '\e0d1',
  'heart-2' '\e0d2',
  'heart-broken' '\e0d3',
  'thumbs-up' '\e0d4',
  'thumbs-up-2' '\e0d5',
  'happy' '\e0d6',
  'happy-2' '\e0d7',
  'smiley' '\e0d8',
  'smiley-2' '\e0d9',
  'tongue' '\e0da',
  'tongue-2' '\e0db',
  'sad' '\e0dc',
  'sad-2' '\e0dd',
  'wink' '\e0de',
  'wink-2' '\e0df',
  'grin' '\e0e0',
  'grin-2' '\e0e1',
  'cool' '\e0e2',
  'cool-2' '\e0e3',
  'angry' '\e0e4',
  'angry-2' '\e0e5',
  'evil' '\e0e6',
  'evil-2' '\e0e7',
  'shocked' '\e0e8',
  'shocked-2' '\e0e9',
  'confused' '\e0ea',
  'confused-2' '\e0eb',
  'neutral' '\e0ec',
  'neutral-2' '\e0ed',
  'wondering' '\e0ee',
  'wondering-2' '\e0ef',
  'point-up' '\e0f0',
  'point-right' '\e0f1',
  'point-down' '\e0f2',
  'point-left' '\e0f3',
  'warning' '\e0f4',
  'notification' '\e0f5',
  'question' '\e0f6',
  'info' '\e0f7',
  'info-2' '\e0f8',
  'blocked' '\e0f9',
  'cancel-circle' '\e0fa',
  'checkmark-circle' '\e0fb',
  'spam' '\e0fc',
  'close' '\e0fd',
  'checkmark' '\e0fe',
  'checkmark-2' '\e0ff',
  'spell-check' '\e100',
  'minus' '\e101',
  'plus' '\e102',
  'enter' '\e103',
  'exit' '\e104',
  'play-2' '\e105',
  'pause' '\e106',
  'stop' '\e107',
  'backward' '\e108',
  'forward-2' '\e109',
  'play-3' '\e10a',
  'pause-2' '\e10b',
  'stop-2' '\e10c',
  'backward-2' '\e10d',
  'forward-3' '\e10e',
  'first' '\e10f',
  'last' '\e110',
  'previous' '\e111',
  'next' '\e112',
  'eject' '\e113',
  'volume-high' '\e114',
  'volume-medium' '\e115',
  'volume-low' '\e116',
  'volume-mute' '\e117',
  'volume-mute-2' '\e118',
  'volume-increase' '\e119',
  'volume-decrease' '\e11a',
  'loop' '\e11b',
  'loop-2' '\e11c',
  'loop-3' '\e11d',
  'shuffle' '\e11e',
  'arrow-up-left' '\e11f',
  'arrow-up' '\e120',
  'arrow-up-right' '\e121',
  'arrow-right' '\e122',
  'arrow-down-right' '\e123',
  'arrow-down' '\e124',
  'arrow-down-left' '\e125',
  'arrow-left' '\e126',
  'arrow-up-left-2' '\e127',
  'arrow-up-2' '\e128',
  'arrow-up-right-2' '\e129',
  'arrow-right-2' '\e12a',
  'arrow-down-right-2' '\e12b',
  'arrow-down-2' '\e12c',
  'arrow-down-left-2' '\e12d',
  'arrow-left-2' '\e12e',
  'arrow-up-left-3' '\e12f',
  'arrow-up-3' '\e130',
  'arrow-up-right-3' '\e131',
  'arrow-right-3' '\e132',
  'arrow-down-right-3' '\e133',
  'arrow-down-3' '\e134',
  'arrow-down-left-3' '\e135',
  'arrow-left-3' '\e136',
  'tab' '\e137',
  'checkbox-checked' '\e138',
  'checkbox-unchecked' '\e139',
  'checkbox-partial' '\e13a',
  'radio-checked' '\e13b',
  'radio-unchecked' '\e13c',
  'crop' '\e13d',
  'scissors' '\e13e',
  'filter' '\e13f',
  'filter-2' '\e140',
  'font' '\e141',
  'text-height' '\e142',
  'text-width' '\e143',
  'bold' '\e144',
  'underline' '\e145',
  'italic' '\e146',
  'strikethrough' '\e147',
  'omega' '\e148',
  'sigma' '\e149',
  'table' '\e14a',
  'table-2' '\e14b',
  'insert-template' '\e14c',
  'pilcrow' '\e14d',
  'left-to-right' '\e14e',
  'right-to-left' '\e14f',
  'paragraph-left' '\e150',
  'paragraph-center' '\e151',
  'paragraph-right' '\e152',
  'paragraph-justify' '\e153',
  'paragraph-left-2' '\e154',
  'paragraph-center-2' '\e155',
  'paragraph-right-2' '\e156',
  'paragraph-justify-2' '\e157',
  'indent-increase' '\e158',
  'indent-decrease' '\e159',
  'new-tab' '\e15a',
  'embed' '\e15b',
  'code' '\e15c',
  'console' '\e15d',
  'share' '\e15e',
  'mail' '\e15f',
  'mail-2' '\e160',
  'mail-3' '\e161',
  'mail-4' '\e162',
  'google' '\e163',
  'google-plus' '\e164',
  'google-plus-2' '\e165',
  'google-plus-3' '\e166',
  'google-plus-4' '\e167',
  'google-drive' '\e168',
  'facebook' '\e169',
  'facebook-2' '\e16a',
  'facebook-3' '\e16b',
  'instagram' '\e16c',
  'twitter' '\e16d',
  'twitter-2' '\e16e',
  'twitter-3' '\e16f',
  'feed-2' '\e170',
  'feed-3' '\e171',
  'feed-4' '\e172',
  'youtube' '\e173',
  'youtube-2' '\e174',
  'vimeo' '\e175',
  'vimeo2' '\e176',
  'vimeo-2' '\e177',
  'steam' '\e178',
  'steam-2' '\e179',
  'github' '\e17a',
  'github-2' '\e17b',
  'github-3' '\e17c',
  'github-4' '\e17d',
  'github-5' '\e17e',
  'wordpress' '\e17f',
  'wordpress-2' '\e180',
  'joomla' '\e181',
  'blogger' '\e182',
  'blogger-2' '\e183',
  'lastfm' '\e184',
  'lastfm-2' '\e185',
  'delicious' '\e186',
  'stumbleupon' '\e187',
  'stumbleupon-2' '\e188',
  'stackoverflow' '\e189',
  'pinterest' '\e18a',
  'pinterest-2' '\e18b',
  'xing' '\e18c',
  'xing-2' '\e18d',
  'flattr' '\e18e',
  'foursquare' '\e18f',
  'html5' '\e190',
  'html5-2' '\e191',
  'css3' '\e192',
  'chrome' '\e193',
  'firefox' '\e194',
  'IE' '\e195',
  'opera' '\e196',
  'safari' '\e197',
  'IcoMoon' '\e198',
  'lanyrd' '\e199',
  'flickr' '\e19a',
  'flickr-2' '\e19b',
  'flickr-3' '\e19c',
  'flickr-4' '\e19d',
  'picassa' '\e19e',
  'picassa-2' '\e19f',
  'dribbble' '\e1a0',
  'dribbble-2' '\e1a1',
  'dribbble-3' '\e1a2',
  'forrst' '\e1a3',
  'forrst-2' '\e1a4',
  'deviantart' '\e1a5',
  'deviantart-2' '\e1a6',
  'tumblr' '\e1a7',
  'tumblr-2' '\e1a8',
  'yahoo' '\e1a9',
  'tux' '\e1aa',
  'apple' '\e1ab',
  'finder' '\e1ac',
  'android' '\e1ad',
  'windows' '\e1ae',
  'windows8' '\e1af',
  'soundcloud' '\e1b0',
  'soundcloud-2' '\e1b1',
  'skype' '\e1b2',
  'reddit' '\e1b3',
  'linkedin' '\e1b4',
  'foursquare-2' '\e1b5',
  'paypal' '\e1b6',
  'paypal-2' '\e1b7',
  'paypal-3' '\e1b8',
  'yelp' '\e1b9',
  'libreoffice' '\e1ba',
  'file-pdf' '\e1bb',
  'file-openoffice' '\e1bc',
  'file-word' '\e1bd',
  'file-excel' '\e1be',
  'file-zip' '\e1bf',
  'file-powerpoint' '\e1c0',
  'file-xml' '\e1c1',
  'file-css' '\e1c2'
);

// Source: http://jaydenseric.com/blog/fun-with-sass-and-font-icons
@mixin icon($position: 'before', $styles: true, $icon: false) {
  &:#{$position} {
    @if $icon {
      content: match($icons, $icon);
    }
    @if $styles {
      speak: none;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      text-transform: none;
      line-height: 1;
      font: {
        style: normal;
        variant: normal;
        weight: normal;
        family: 'Icons';
      }
    }
  }
}
