// Button
@mixin button {
  background-color: $buttonColor;
  border: none;
  padding: 4px 35px;
  border-radius: 2px;
  color: $textColorLight;
  font-family: 'Oswald', sans-serif;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

// Box
@mixin box {
  margin-top: 20px;
  margin-bottom: 30px;
  position: relative;
  background-color: $boxBackgroundColor;
  border: 1px solid $boxBorderColor;
  padding: 10px;
  z-index: 0;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  border-top-right-radius: 2px;

  label {
    position: absolute;
    top: -20px;
    left: -1px;
    display: block;
    height: 20px;
    background-color: $boxBackgroundColor;
    border: 1px solid $boxBorderColor;
    border-bottom: none;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    z-index: 1;
    padding: 5px 20px 0 20px;
    text-transform: uppercase;
    font-family: $highlightFont;
    font-weight: bold;
  }
}

// Fade in transition
@mixin fade-in($duration) {
  animation: fadein $duration;
  -moz-animation: fadein $duration; /* Firefox */
  -webkit-animation: fadein $duration; /* Safari and Chrome */
  -o-animation: fadein $duration; /* Opera */

}
@mixin fade-in-full {
  from { opacity: 0; }
  to { opacity: 1; }
}
@keyframes fadein { @include fade-in-full; }
@-moz-keyframes fadein { @include fade-in-full; }
@-webkit-keyframes fadein { @include fade-in-full; }
@-o-keyframes fadein { @include fade-in-full; }

// Custom list style
@mixin custom-list {
  ul {
    list-style: none;
    li {
      margin-bottom: 5px;
      @include icon('before', true, 'forward');
    }
    li:before {
      margin-right: 0.5em;
      color: $primaryColor1;
    }
  }
}
