// Button
@mixin button {
  background-color: $buttonColor;
  border: none;
  padding: 5px 35px;
  border-radius: 2px;
  color: $textColorLight;
  font-family: $highlightFont;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

// Box
@mixin box {
  margin-top: 2 * $gutter;
  position: relative;
  background-color: $boxBackgroundColor;
  padding: $gutter;
  z-index: 0;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  border-top-right-radius: 2px;

  label {
    position: absolute;
    top: -20px;
    left: 0;
    display: block;
    height: 20px;
    background-color: $boxBackgroundColor;
    border-bottom: none;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    z-index: 1;
    padding: 5px 40px 0 40px;
    text-transform: uppercase;
    font-family: $highlightFont;
    font-weight: bold;
  }
}

// Fade in transition
@mixin fade-in($duration) {
  animation: fadein $duration;
  -moz-animation: fadein $duration; /* Firefox */
  -webkit-animation: fadein $duration; /* Safari and Chrome */
  -o-animation: fadein $duration; /* Opera */

}
@mixin fade-in-full {
  from { opacity: 0; }
  to { opacity: 1; }
}
@keyframes fadein { @include fade-in-full; }
@-moz-keyframes fadein { @include fade-in-full; }
@-webkit-keyframes fadein { @include fade-in-full; }
@-o-keyframes fadein { @include fade-in-full; }

// Custom list style
@mixin custom-list {
  ul {
    list-style: none;
    li {
      margin-bottom: $gutter;
      @include icon('before', true, 'forward');
    }
    li:before {
      margin-right: 0.5em;
      color: $primaryColor1;
    }
  }
}

// CSS triangle
@mixin triangle($size, $color: #000, $top: true, $right: false, $bottom: false, $left: false) {
  border: $size solid $color;
  width: 0px;
  height: 0px;
  @if $top != true { border-top-color: transparent; }
  @if $right != true { border-right-color: transparent; }
  @if $bottom != true { border-bottom-color: transparent; }
  @if $left != true { border-left-color: transparent; }
}
