// Fonts
$pageFontSize: 14px;
$pageFontSizeSmaller: $pageFontSize - 2px;
$pageLineHeight: $pageFontSize * 1.5;
$pageLineHeightSmaller: $pageFontSizeSmaller * 1.5;
$pageFont: Inika, Georgia, Serif;
$highlightFont: Oswald, Sans-Serif;
$mobilePageFont: Georgia, Serif;
