// Grid
@import "bourbon/bourbon";
@import "grid-settings";
@import "neat/neat";

// Site
@import "colors";
@import "variables";
@import "fonts";
@import "icons";
@import "mixins";
@import "forms";

/*******************************
 * Site Styles
 *******************************/
html {
  min-height: 100%;
  position: relative;
}

body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: $pageFont;
  background-color: $backgroundColorDark;
}

h1, h2, h3, h4 {
  font-family: $highlightFont;
}

header {
  background: url('/img/logo.png');
  background-repeat: no-repeat;
  background-color: $primaryColor1;
  background-position: 10px 5px;
  width: 889px;
  height: 95px;
  margin: 0 5px;

  span {
    color: $textColorLight;
    a { color: $textColorLight; }
    font-size: em(14);
    float: left;
    margin-top: 65px;
    margin-left: 167px;
  }
}

.container {
  @include outer-container;
  background-color: $backgroundColorLight;
}

aside {
  @include span-columns(4);
  @include omega();
  padding: 0 1em;
  border-left: 1px solid $boxBorderColor;
}

.content {
  font-size: em(14);
  line-height: em(24);
}

.message-container {
  @include span-columns(12);
  @include omega();
  @include fade-in(2s);
  margin: 10px 0;

  ul {
    border: 1px solid black;
    list-style: none;
    padding: 10px;
    padding-left: 20px;
    margin: 0 10px;
  }
}
.message-container.success ul { background-color: $successColor; }
.message-container.info ul { background-color: $infoColor; }
.message-container.error ul { background-color: $errorColor; }

.box {
  margin-top: 20px;
  margin-bottom: 30px;
  position: relative;
  background-color: $boxBackgroundColor;
  border: 1px solid $boxBorderColor;
  padding: 10px;
  z-index: 0;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  border-top-right-radius: 2px;

  label {
    position: absolute;
    top: -20px;
    left: -1px;
    display: block;
    height: 20px;
    background-color: $boxBackgroundColor;
    border: 1px solid $boxBorderColor;
    border-bottom: none;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    z-index: 1;
    padding: 5px 20px 0 20px;
    text-transform: uppercase;
    font-family: $highlightFont;
    font-weight: bold;
  }
}

/*******************************
 * Page Styles
 *******************************/
.front-page {
  @include span-columns(8);
  padding: 1em 0 1em 1em;

}
 .front-page + aside {
  @include custom-list;
  ul { padding-left: 5px; }
}


