// Grid
@import "bourbon/bourbon";
@import "grid-settings";
@import "neat/neat";

// Site
@import "colors";
@import "variables";
@import "fonts";
@import "mixins";
@import "forms";

/*******************************
 * Site Styles
 *******************************/
body {
  margin: 0; padding: 0;
  font-family: 'Istok Web', sans-serif;
}

header {
  background: url('/img/logo.png');
  width: 889px;
  height: 122px;
  margin: 0 5px;

  span {
    color: $textColorLight;
    a { color: $textColorLight; }
    font-size: em(14);
    float: left;
    margin-top: 85px;
    margin-left: 180px;
  }
}

.container {
  @include outer-container;
  background-color: $backgroundColorLight;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
}

aside {
  @include span-columns(4);
  @include omega();
  border-left: 1px dashed $backgroundColorDark;
  padding: 0 1em;
}

.content {
  font-size: em(14);
  line-height: em(21);
}

.error-container {
  @include span-columns(12);
  @include omega();
  p {
    margin: 10px 5px;
    padding: 10px;
    background-color: $errorColor;
  }
}

.box {
  margin-top: 20px;
  position: relative;
  border: 1px solid $boxBorderColor;
  background-color: $boxBackgroundColor;
  padding: 10px;
  z-index: 0;

  label {
    position: absolute;
    top: -20px;
    left: -1px;
    display: block;
    height: 20px;
    background-color: $boxBackgroundColor;
    border: 1px solid $boxBorderColor;
    border-bottom: none;
    z-index: 1;
    padding: 5px 20px 0 20px;
    text-transform: uppercase;
    font-weight: bold;
  }
}

/*******************************
 * Page Styles
 *******************************/
.front-page {
  @include span-columns(8);
  padding: 1em 0 1em 1em;

  aside {
    ul { padding-left: 20px; }
    h4 { margin-top: 0; }
  }
}


