* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

@font-face {
  font-family: 'Inika';
  src: url("/fonts/inika-bold-webfont.eot");
  src: url("/fonts/inika-bold-webfont.eot?#iefix") format("embedded-opentype"), url("/fonts/inika-bold-webfont.woff") format("woff"), url("/fonts/inika-bold-webfont.ttf") format("truetype"), url("/fonts/inika-bold-webfont.svg#inikabold") format("svg");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: 'Inika';
  src: url("/fonts/inika-regular-webfont.eot");
  src: url("/fonts/inika-regular-webfont.eot?#iefix") format("embedded-opentype"), url("/fonts/inika-regular-webfont.woff") format("woff"), url("/fonts/inika-regular-webfont.ttf") format("truetype"), url("/fonts/inika-regular-webfont.svg#inikaregular") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Oswald';
  src: url("/fonts/oswald-bold-webfont.eot");
  src: url("/fonts/oswald-bold-webfont.eot?#iefix") format("embedded-opentype"), url("/fonts/oswald-bold-webfont.woff") format("woff"), url("/fonts/oswald-bold-webfont.ttf") format("truetype"), url("/fonts/oswald-bold-webfont.svg#oswaldbold") format("svg");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: 'Oswald Light';
  src: url("/fonts/oswald-light-webfont.eot");
  src: url("/fonts/oswald-light-webfont.eot?#iefix") format("embedded-opentype"), url("/fonts/oswald-light-webfont.woff") format("woff"), url("/fonts/oswald-light-webfont.ttf") format("truetype"), url("/fonts/oswald-light-webfont.svg#oswaldlight") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Oswald';
  src: url("/fonts/oswald-regular-webfont.eot");
  src: url("/fonts/oswald-regular-webfont.eot?#iefix") format("embedded-opentype"), url("/fonts/oswald-regular-webfont.woff") format("woff"), url("/fonts/oswald-regular-webfont.ttf") format("truetype"), url("/fonts/oswald-regular-webfont.svg#oswaldregular") format("svg");
  font-weight: normal;
  font-style: normal; }

/*
* This is a SASS version of the icomoon icon font stylesheet icluded in the
* docs/icomoon folder
*
* usage: @include icon('location', bool include style, 'iconname');
*/
@font-face {
  font-family: 'Icons';
  src: url("/fonts/icons/icomoon.eot");
  src: url("/fonts/icons/icomoon.eot?#iefix") format("embedded-opentype"), url("/fonts/icons/icomoon.woff") format("woff"), url("/fonts/icons/icomoon.ttf") format("truetype"), url("/fonts/icons/icomoon.svg#icomoon") format("svg");
  font-weight: normal;
  font-style: normal; }

@keyframes fadein {
  from {
    opacity: 0; }

  to {
    opacity: 1; } }

@-moz-keyframes fadein {
  from {
    opacity: 0; }

  to {
    opacity: 1; } }

@-webkit-keyframes fadein {
  from {
    opacity: 0; }

  to {
    opacity: 1; } }

@-o-keyframes fadein {
  from {
    opacity: 0; }

  to {
    opacity: 1; } }

input[type="submit"] {
  background-color: #266199;
  border: none;
  padding: 5px 35px;
  border-radius: 2px;
  color: white;
  font-family: Oswald, Sans-Serif;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  margin-top: 10px; }

input {
  padding: 8px 10px;
  display: block;
  margin-bottom: 10px;
  border: none;
  font-family: Inika, Georgia, Serif; }

.input-error {
  border: 1px solid #ff9700; }

.input-error + ul {
  list-style: none;
  padding-left: 3px;
  margin: 5px 0 20px 0; }
  .input-error + ul li {
    font-family: Oswald, Sans-Serif; }
    .input-error + ul li:before {
      content: "\e0f5";
      speak: none;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      text-transform: none;
      line-height: 1;
      font-style: normal;
      font-variant: normal;
      font-weight: normal;
      font-family: 'Icons'; }
  .input-error + ul li:before {
    margin-right: 0.5em; }

/*******************************
 * Site Styles
 *******************************/
body {
  margin: 0;
  padding: 0;
  font-family: Inika, Georgia, Serif;
  background-color: #eeeeee;
  font-size: 0.875em;
  line-height: 1.5em; }
  @media screen and (max-width: 480px) {
    body {
      font-family: Georgia, Serif; } }

h1, h2, h3, h4 {
  font-family: Oswald, Sans-Serif; }

.container {
  *zoom: 1;
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
  background-color: white; }
  .container:before, .container:after {
    content: " ";
    display: table; }
  .container:after {
    clear: both; }

header {
  display: block;
  float: left;
  margin-right: 1.05263%;
  width: 100%;
  background: #0068cc url("/img/logo.png") no-repeat 10px 5px;
  height: 95px; }
  header:last-child {
    margin-right: 0; }
  @media screen and (max-width: 480px) {
    header {
      display: block;
      float: left;
      margin-right: 2.12766%;
      width: 100%; }
      header:last-child {
        margin-right: 0; } }
  @media screen and (min-width: 481px) and (max-width: 960px) {
    header {
      background: #0068cc url("/img/logo-tablet.png") no-repeat 10px 5px;
      height: 60px; } }
  @media screen and (max-width: 480px) {
    header {
      background: #0068cc url("/img/logo-mobile.png") no-repeat 5px top;
      height: 50px; } }
  header span {
    color: white;
    float: left;
    margin-top: 55px;
    margin-left: 165px; }
    @media screen and (min-width: 481px) and (max-width: 960px) {
      header span {
        display: none; } }
    header span a {
      color: white; }

footer {
  display: block;
  float: left;
  margin-right: 1.05263%;
  width: 100%;
  padding: 10px;
  background-color: #0068cc;
  color: white;
  text-align: right; }
  footer:last-child {
    margin-right: 0; }
  @media screen and (max-width: 480px) {
    footer {
      display: block;
      float: left;
      margin-right: 2.12766%;
      width: 100%; }
      footer:last-child {
        margin-right: 0; } }
  footer span {
    margin-left: 0.5em; }
    @media screen and (max-width: 480px) {
      footer span {
        display: block; } }
    footer span a {
      text-decoration: none;
      color: white; }
      footer span a:before {
        speak: none;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        text-transform: none;
        line-height: 1;
        font-style: normal;
        font-variant: normal;
        font-weight: normal;
        font-family: 'Icons'; }
      footer span a:before {
        margin-right: 0.5em; }
  footer .copyright a:before {
    content: '\00a9'; }
  footer .contact a:before {
    content: "\e161"; }

nav {
  display: block;
  float: left;
  margin-right: 1.05263%;
  width: 100%;
  background-color: black;
  text-align: right;
  padding: 5px 10px; }
  nav:last-child {
    margin-right: 0; }
  @media screen and (max-width: 480px) {
    nav {
      display: block;
      float: left;
      margin-right: 2.12766%;
      width: 100%; }
      nav:last-child {
        margin-right: 0; } }
  nav ul {
    margin: 0; }
  nav li {
    list-style: none;
    display: inline-block;
    margin: 0;
    margin-left: 10px; }
  nav a {
    text-decoration: none;
    color: white;
    font-family: Oswald, Sans-Serif; }
  @media screen and (min-width: 481px) {
    nav a:before {
      speak: none;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      text-transform: none;
      line-height: 1;
      font-style: normal;
      font-variant: normal;
      font-weight: normal;
      font-family: 'Icons'; }
    nav a:before {
      margin-right: 0.5em; }
    nav .logout a:before {
      content: "\e104"; }
    nav .settings a:before {
      content: "\e08e"; }
    nav .home a:before {
      content: "\e000"; } }

aside {
  display: block;
  float: left;
  margin-right: 1.05263%;
  width: 32.63158%;
  padding: 0 10px;
  background-color: #ffb140; }
  aside:last-child {
    margin-right: 0; }

.content {
  display: block;
  float: left;
  margin-right: 1.05263%;
  width: 100%; }
  .content:last-child {
    margin-right: 0; }
  @media screen and (max-width: 480px) {
    .content {
      display: block;
      float: left;
      margin-right: 2.12766%;
      width: 100%; }
      .content:last-child {
        margin-right: 0; } }

.message-container {
  display: block;
  float: left;
  margin-right: 1.05263%;
  width: 100%;
  animation: fadein 2s;
  -moz-animation: fadein 2s;
  /* Firefox */
  -webkit-animation: fadein 2s;
  /* Safari and Chrome */
  -o-animation: fadein 2s;
  /* Opera */
  margin: 10px 0;
  font-family: Oswald, Sans-Serif;
  position: relative; }
  .message-container:last-child {
    margin-right: 0; }
  .message-container ul {
    margin: 0;
    padding: 0; }
  .message-container li {
    padding: 10px;
    list-style: none;
    padding-left: 20px;
    margin: 0; }
    .message-container li:before {
      speak: none;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      text-transform: none;
      line-height: 1;
      font-style: normal;
      font-variant: normal;
      font-weight: normal;
      font-family: 'Icons'; }
  .message-container li:before {
    margin-right: 0.5em; }
  .message-container .triangle {
    position: absolute;
    left: 5%;
    bottom: 0;
    margin-bottom: -20px;
    border: 10px solid black;
    width: 0px;
    height: 0px;
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-left-color: transparent; }

.message-container.success li {
  background-color: #00d273; }
  .message-container.success li:before {
    content: "\e0fb"; }

.message-container.info li {
  background-color: #67a7e6; }

.message-container.error li {
  background-color: #ff9700; }
  .message-container.error li:before {
    content: "\e0f5"; }

.message-container.success .triangle {
  border-top-color: #00d273; }

.message-container.info .triangle {
  border-top-color: #67a7e6; }

.message-container.error .triangle {
  border-top-color: #ff9700; }

.box {
  margin-top: 20px;
  position: relative;
  background-color: #67a7e6;
  padding: 10px;
  z-index: 0;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  border-top-right-radius: 2px; }
  .box label {
    position: absolute;
    top: -20px;
    left: 0;
    display: block;
    height: 20px;
    background-color: #67a7e6;
    border-bottom: none;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    z-index: 1;
    padding: 5px 40px 0 40px;
    text-transform: uppercase;
    font-family: Oswald, Sans-Serif;
    font-weight: bold; }

.page {
  display: block;
  float: left;
  margin-right: 1.05263%;
  width: 100%;
  padding: 10px; }
  .page:last-child {
    margin-right: 0; }

.sidebar-page {
  display: block;
  float: left;
  margin-right: 1.05263%;
  width: 66.31579%;
  padding: 10px; }
  .sidebar-page:last-child {
    margin-right: 0; }
  @media screen and (max-width: 480px) {
    .sidebar-page {
      display: block;
      float: left;
      margin-right: 2.12766%;
      width: 100%; }
      .sidebar-page:last-child {
        margin-right: 0; } }

@media screen and (max-width: 480px) {
  .sidebar-page + aside {
    display: block;
    float: left;
    margin-right: 2.12766%;
    width: 100%; }
    .sidebar-page + aside:last-child {
      margin-right: 0; } }

/*******************************
 * Page Styles
 *******************************/
.front-page {
  padding: 10px 0; }
  .front-page .authenticate .box-container {
    display: block;
    float: left;
    margin-right: 1.5873%;
    width: 49.20635%; }
    .front-page .authenticate .box-container:last-child {
      margin-right: 0; }
    @media screen and (max-width: 480px) {
      .front-page .authenticate .box-container {
        display: block;
        float: left;
        margin-right: 2.12766%;
        width: 100%; }
        .front-page .authenticate .box-container:last-child {
          margin-right: 0; } }
    @media screen and (max-width: 480px) {
      .front-page .authenticate .box-container {
        padding: 10px; } }
  @media screen and (min-width: 961px) {
    .front-page .authenticate .box-container.first {
      padding-left: 10px; } }
  .front-page .authenticate .box {
    min-height: 191px; }
  .front-page .authenticate input {
    width: 100%; }

.front-page + aside ul {
  list-style: none; }
  .front-page + aside ul li {
    margin-bottom: 10px; }
    .front-page + aside ul li:before {
      content: "\e068";
      speak: none;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      text-transform: none;
      line-height: 1;
      font-style: normal;
      font-variant: normal;
      font-weight: normal;
      font-family: 'Icons'; }
  .front-page + aside ul li:before {
    margin-right: 0.5em;
    color: #0068cc; }
.front-page + aside ul {
  padding-left: 10px; }

.settings-page .box {
  display: block;
  float: left;
  margin-right: 1.05263%;
  width: 49.47368%; }
  .settings-page .box:last-child {
    margin-right: 0; }
  @media screen and (max-width: 480px) {
    .settings-page .box {
      display: block;
      float: left;
      margin-right: 2.12766%;
      width: 100%; }
      .settings-page .box:last-child {
        margin-right: 0; } }
.settings-page input {
  width: 100%; }
