<?php

return array(
    'doctrine' => array(
        'connection' => array(
            'orm_default' => array(
                'params' => array(
                    'user' => '',
                    'password' => '',
                ),
            ),
        ),
    ),
);
