<?php

return array(
    'modules' => array(
        'ZendDeveloperTools',
    ),
    'conversion' => array(
        'docx' => array(
            'unoconv' => array(
                'command' => 'unoconv',
            ),
        ),
    ),
    'doctrine' => array(
        'connection' => array(
            'orm_default' => array(
                'params' => array(
                    'user' => '',
                    'password' => '',
                ),
            ),
        ),
    ),
    'log' => array(
        'level' => 4,
    ),
);
