<?php

return array(
    'modules' => array(),
    'doctrine' => array(
        'connection' => array(
            'orm_default' => array(
                'params' => array(
                    'host' => '127.11.252.130',
                    'user' => 'adminr1GY8rZ',
                    'password' => 'pXz9a_YntYbD',
                ),
            ),
        ),
    ),
    'log' => array(
        'level' => 7,
    ),
);
